* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: blue;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1000px) {
  body {
    display: grid;
    grid-template-areas:
      "title title"
      "projects todos";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr;
  }

  #title {
    grid-area: title;
  }

  #projects-container {
    grid-area: projects;
  }

  #todos-container {
    grid-area: todos;
  }
}
